<% content_for :sidebar do%>
<div> 
<%=link_to(image_tag("greensquare.jpg",:class => "yelpLogo"), @yelpURL ,:target => "_blank")%>
<%=link_to("Interact with Yelp Directly", @yelpURL, :class => "yelplink" ,:target => "_blank")%>
</div>
<% end %>
