<% render :template => 'main/contactform'%>
<p>
<b>This is all the information on how to contact me</b><br>
Phone Number:<br>
  Email Address:
</p>

<% if @contactname!=nil%>
  <p id="contactSubmit">Thank you for submitting <%=@contactname%>! We will get back to you shortly</p>
<% end %>
<br>
<h3>Web Form</h3>
<%= yield :contactform %>
