<%render :template => 'main/mainpage' %>
<% render :template => 'sidebar/mainindex'%>
<div class="mainContainer">
<div class="centerPicHolder">
<%=link_to( image_tag("volcano_by_susiron-d63klah.png",alt: "First Picture Seen", id: "centerPic"),root_url, title: "First Picture Seen") %>
</div>
<h2>Content for makes sense! Fix it </h2>
<p>Hello and welcome to Lori's Website! We're glad you came.</p>
<p>I am an enthusiastic event planner excited to help with your event.</p>
<p>My mentality is to put the customer first, so I've included many useful tools for you to visualize and plan your event for free</p>
<p><b>I'm here to make your event planning easier and coordinate everything you need.</b></p>
<br><br>
<p><b>Enjoy!</b></p>
</div>
