<% content_for :mainpage do %>  
<div class="titleBannerHolder">
    <%=image_tag("Space-Art-Wallpaper-space-7076586-1920-1200.jpg", alt: "Welcome Banner", :class => "aboveTitleBanner")%>
  </div>
<% end %>
