<div id="toolsContainer">
<h1 class="contentMainTitle">Tools</h1>
<table><tr>
<td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
Caterers
</div>
</td>
</tr>
<tr>
<td>
<div id="vendor-caterer" class="toolsbox">
Supply Rentals
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
Lori's Tools and Suggestions
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
Caterers
</div>
</td>
</tr></table>
</div>
