<% content_for :sidebar do%>
<h3 class="sidebarHeader">Creativity Tools</h3>

<b>I've been there...</b>
<br><br>
You have a great idea with big plans but just don't know how to make it happen.
<br><br>
Along the way I have picked up these and other great <b>tips and tools</b> that I would like to share with you. 
<br><br>
I would be happy to discuss how to best use these tools to make an incredible event.
<% end %>
