<% content_for :sidebar do %>
<p><h3 class="sidebarHeader">Under Construction</h3>
We apologize that we only support one event per customer. We are building functionality for you to have as many events with us as you would like. 

<% end %>
