<%content_for :sidebar do%>
<b>Description of this Creation</b>
<br>
<p>Here is some more information. These projects were awesome to work on. As you can see people loved it. Duh. That's because I designed it</p>
<p>I take pride in my work. If you would like to know about any of these projects I am happy to answer all queries</p>
<h3>Link to Contact</h3>
<%end%>
