<tr><td>
<div id="supply-dannythomas" class="vendor-sub-box">
<div class="vendor-desc"><p>
Here is some basic text. That looks like this. It is really quite long. So this should be wrapped around if possible.kfah al skjd fhais udflkjas hdga lskd fais ldj hflasudhlf kjh a sdjkl fhladshflk jashdflkjhasdl kjhflakjsh dfoiuhwalek fnli asudgflkjhas
</p></div>
<div class="vendor-title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "vendor-display"),root_path)%>
</div>
</td></tr>
