<%content_for :creations_title do%>
<h2>Cori</h2>
<% end %>
<%content_for :creations_content do%>
<b>Our Puppy Cori</b>
<br>
<p>Cori brings the family together.</p>
<% end %>

<%content_for :creations_mainPic do%>
  <%= image_tag("projThumb/#{@projectname}_thumb.jpg",
                         alt: "holder",
                         id: "mainCreationPic")%>
<% end %>

<%content_for :creations_subPics do%>
  <table><tr>
  <%4.times do |iter|%>
    <td>
  <%= image_tag("#{@projectname}/creation_sub_thumb#{iter}.jpg",   
                         alt: "holder",
                         :class => "subPic creation_thumb")%>
    </td>
  <% end %>
  </table></tr>
<% end %>
