<%content_for :creations_title do%>
<h2>A.S. 55</h2>
<% end %>
<%content_for :creations_content do%>
<b>Project 1</b>
<br>
<p>Here is some more information. This project was awesome to work on. As you can see people loved it. Duh. That's because I designed it</p>
<% end %>

<%content_for :creations_mainPic do%>
  <%= image_tag("projThumb/#{@projectname}_thumb.jpg",
                         alt: "holder",
                         id: "mainCreationPic")%>
<% end %>

<%content_for :creations_subPics do%>
  <table><tr>
  <%4.times do |iter|%>
    <td>
    <%= image_tag("#{@projectname}/creation_sub_thumb#{iter}.jpg",
                         alt: "holder",
                         :class => "subPic creation_thumb")%>
    </td>
  <% end %>
  </table></tr>
<% end %>
