<div class="vendorContainer">
<h1 class="contentMainTitle">Vendors</h1>
<table class="vendor-container"><tr>
<td>
<div id="vendor-supply" class="vendorbox">
<%=link_to(image_tag("vendor_supply.jpg", :class => "vendor_linkImage"),"/vendors_path/supply")%>
</div>
</td>
<td>
<div id="vendor-lori" class="vendorbox">
Lori's Tools and Suggestions
</div>
</td>
<td>
<div id="vendor-caterer" class="vendorbox">
<%=link_to(image_tag("vendor_cater.jpg", :class => "vendor_linkImage"),"/vendors_path/cater")%>
</div>
</td>
</tr></table>
<table class="vendor-container"><tr>
<td>
<div id="vendor-venue" class="vendorbox">
<%=link_to(image_tag("vendor_venue.jpg", :class => "vendor_linkImage"),"/vendors_path/venue")%>
</div>
</td>
<td>
<div id="vendor-music" class="vendorbox">
<%=link_to(image_tag("vendor_music.jpg", :class => "vendor_linkImage"),"/vendors_path/music")%>
</div>
</td>
</tr></table>
</div>
