<div id="vendorContainer">
<h1 class="contentMainTitle">Vendors</h1>
<table><tr>
<td>
<div id="vendor-caterer" class="vendorbox">
Supply Rentals
</div>
</td>
<td>
<div id="vendor-caterer" class="vendorbox">
Lori's Tools and Suggestions
</div>
</td>
<td>
<div id="vendor-caterer" class="vendorbox">
Caterers
</div>
</td>
</tr></table>
<table><tr>
<td>
<div id="vendor-caterer" class="vendorbox">
Venues
</div>
</td>
<td>
<div id="vendor-caterer" class="vendorbox">
Music and Ambience
</div>
</td>
</tr></table>
</div>
