// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formbox {
  //border: 1px solid black;
}
.formsheet {
  width:60em; 
  border: 2px solid black; 
  .form-header {
    font-weight: bold;
    background-color:magenta;
  }
  span {
    padding: 0 3em;
  }
  .form-message {
    background-color:white;
  }
}
.colorScheme {
    td {
      border:1px solid black;
      width:25px;
      height:25px;
    }
  }

.colorSchemeLarge {
    td {
      border:1px solid black;
      width:100px;
      height:100px;
    }
  }
  
