@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
  font-family: 'Lato', sans-serif;
  font-weight:300; 
}
header#page_header
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #696273;
  color: #fff;
  font-size: 1em;
  height: 68px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 20px;
  vertical-align:middle;
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: #fef8e7;
    text-decoration: none;
  }

  nav#utility {
    float: right;
    font-size: 0.8em;
  }
 
  #main_nav {
    font-weight:100;
    position:relative;
    font-size:1.5em;
    left: 150px;
    vertical-align:middle;
    -webkit-border-bottom-left-radius: 10px;
    -mox-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #logo {
    float:left;
    position:relative;
    width: 50px;
    height:80px;
  }
}

#tagline {
  margin-left: 20px;
}

div.container {
  overflow: hidden;
  padding: 0 0;
}

footer#page_footer {
  background-color: #807c77;
  border-bottom: 10px solid #4c2719;
  color: #fff;
  font-size: 0.7em;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  ul {
    margin-left: -10px;
    padding: 0;

    li {
      border-right: 1px solid #fef8e7;
      display: inline;
      margin: 0;
      &:last-child {
        border-right:none;
      }

     a {
       padding: 5px 10px;
       &:link,
       &:hover,
       &:visited,
       &.active {
         color:#fff;
        }
      }
    }
  }
}

section#content {
  float: left;
  
  .contentMainTitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0;
    text-align: center;
    font-size:3em; 
    color: #2C1E40;
  }
  
  .leadingSubtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

section#sidebar {
  margin-right:0; 
  width: 300px;
  float:right;
  
  .sidebarHeader {
    text-align:center;
  }

  .sidebar-accountInfo {
    text-align:center;
  }

  .colorScheme {
    margin-left:auto;
    margin-right:auto;
    td {
      border:1px solid black;
      width:25px;
      height:25px;
    }
  }
}
