// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-intro {
  width:25em;
}

.plannerImg {
  width:25em;
  height:25em;
}

.profile-plannerImg {
  float:right;
}

.profile-categ-holder {
  width:47em;
  margin-left:auto;
  margin-right:auto; 
  td {border:2px solid black;}
  .spacer {border:0;width:1em;}
}
.profile-category {
  width:15em;
  height:15em;
}

.intro-holder {
  width: 50em;
  height: 25em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3em;  
}
