// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toolsbox {
  background-color:purple;
  color:white;
  width:60em;
  height:30em;
}

.tools_display {
  width: 40em;
  height: 25em;
}
