// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toolsbox-container {
  width:60em;
  margin-left:auto;
  margin-right:auto;
}

.toolsbox {
  background-color:#DDCFF2;
  border: 2px solid #575919;
  color:white;
  width:60em;
  height:30em;
  padding-left:1em;
}

.tools_title {
  width:20em;
  text-align:center;
  font-size:2em;
  margin-bottom:2px;
  a,a:hover,a:visited{color:black;text-decoration:none;}
}

.tools_desc{
  float:right;
  margin:15px;
  margin-top:39px;
  padding:0 10px;
  width:250px;
  height:27em;
  text-align:left;
  //need vertical alignment
 background-color:#61731F;
}

//.contentMainTitle {
//  padding-right:5em;
//}

//.leadingSubtitle {
 // padding-right:15em;
//}

.tools_display {
  width: 41em;
  height: 27em;
}

.linkToAccount {
  color:#F1C093;
  text-align:center;
}
