<div class="profile-container">
<div class="intro-holder">
<div class="profile-plannerImg">
<%=image_tag("sparta_decor.jpg",:class => "plannerImg")%>
</div>
<p class="profile-intro">
Hello, My name is Lori Salazar. I graduated from San Jose State University in 2013. I survived the end of the world and I am here to provide you with an awesome event planning service. I am incredibly reliable and creative and want to help you with your event/party. 
<br><br>

That's me in the lower right corner

<br><br>

Look below to see what we specialize in!

</p></div>
<div class="profile-categ-holder">
<table><tr>
<td><div class="profile-category">
<%=image_tag("55_as_team.jpg",:class => "profile-category")%>
</div></td><td class="spacer"></td>
<td><div class="profile-category">
<%=image_tag("sparta_buttons.jpg",:class => "profile-category")%>
</div></td><td class="spacer"></td>
<td><div class="profile-category">
<%=image_tag("spartawareness_banner.jpg",:class => "profile-category")%>
</div></td>
</tr></table>
</div>
</div>

