<footer id="page_footer">
  <ul>
    <li><%= link_to "Contact", "contact_path"%></li>
    <li><%= link_to "Help", "help_path"%></li>
    <li><%= link_to "File Bug", "bug_report_path"%></li>
  </ul>
  <p>&copy; 2013 Calvin Worsnup, All Rights Reserved. </p>
</footer>
