<footer id="page_footer">
  <ul>
    <li><%= link_to "Contact", "contact_path"%></li>
    <li><%= link_to "File Bug", "http://github.com/cworsnup13/event_planner/issues"%></li>
  </ul>
  <p>&copy; 2013 Calvin Worsnup, All Rights Reserved. </p>
</footer>
